<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.এসোজানি"
        tools:targetApi="31">
        <activity
            android:name=".bangladeshAll.bivagBangladesh.BivagBdActivity"
            android:parentActivityName=".bangladeshAll.bivagBangladesh.BangladeshActivity"
            android:exported="false" />
        <activity
            android:name=".bangladeshAll.bivagBangladesh.otitBangladesh.OtitBdActivity"
            android:parentActivityName=".bangladeshAll.bivagBangladesh.BangladeshActivity"
            android:exported="false" />
        <activity
            android:name=".bangladeshAll.bivagBangladesh.jatioBangladesh.JatioBdActivity"
            android:parentActivityName=".bangladeshAll.bivagBangladesh.BangladeshActivity"
            android:exported="false" />
        <activity
            android:name=".bangladeshAll.bivagBangladesh.eknojorbangladesh.EknojorBdActivity"
            android:parentActivityName=".bangladeshAll.bivagBangladesh.BangladeshActivity"
            android:exported="false" />
        <activity
            android:name=".InternationalActivity"
            android:exported="true"
            android:parentActivityName=".ContentActivity" />
        <activity
            android:name=".QuranActivity"
            android:exported="false"
            android:parentActivityName=".ContentActivity" />
        <activity
            android:name=".ScienceActivity"
            android:exported="false"
            android:parentActivityName=".ContentActivity" />
        <activity
            android:name=".bangladeshAll.bivagBangladesh.BangladeshActivity"
            android:exported="true"
            android:parentActivityName=".ContentActivity" />
        <activity
            android:name=".ContentActivity"
            android:exported="false"
            android:parentActivityName=".SplashActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>